Establish a connection between Python and the Sakila database :

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
 # To get the password without showing the input
import os
import urllib.parse

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

In [4]:

pw_raw = os.getenv('mysql_stef')
print(pw_raw)  # This is to debug and check if the environment variable is fetched correctly.

None

In [2]:

db ="sakila"
pw_raw = os.getenv('mysql_stef')
pw = urllib.parse.quote_plus(pw_raw)
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'+db
engine = create_engine(connection_string)
engine

TypeError: quote_from_bytes() expected bytes

In [3]:
with engine.connect() as connection:
    query = text('SELECT * FROM actor')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())

df

NameError: name 'engine' is not defined

In [32]:
def run_query(query):
    with engine.connect() as connection:
        query = text(query)
        result = connection.execute(query)
        df = pd.DataFrame(result.all())
    return df

In [33]:
run_query("select * from rental")

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
16039,16045,2005-08-23 22:25:26,772,14,2005-08-25 23:54:26,1,2006-02-15 21:30:53
16040,16046,2005-08-23 22:26:47,4364,74,2005-08-27 18:02:47,2,2006-02-15 21:30:53
16041,16047,2005-08-23 22:42:48,2088,114,2005-08-25 02:48:48,2,2006-02-15 21:30:53
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53

 Write a Python function called `rentals_month` that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

	- `engine`: an object representing the database connection engine to be used to establish a connection to the Sakila database.
	- `month`: an integer representing the month for which rental data is to be retrieved.
	- `year`: an integer representing the year for which rental data is to be retrieved.

	The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [45]:
def rentals_month(engine, month, year):
    run_query(f"select * from rental WHERE EXTRACT(MONTH FROM rental_date) = {month} 
    AND EXTRACT(YEAR FROM rental_date) = {year}" ; )
    return rentals_month

rentals_month(any,5,2005)

SyntaxError: unterminated string literal (detected at line 2) (3497562433.py, line 2)